{% extends "app/base.html" %}
{% block content %}
    <style>
      .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
      }

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

video{
    border-radius: 8px;
    border:1px solid #929494;
}

.spl-col-1{
  border: 3px solid #827e7e ;
}

.spl-col-2{
  border:3px solid #827e7e;
}
    </style>
    <div style="padding: 10px;border-radius: 5px; color:white;" >
      <div class="row ms-5">

        <div class="col-md-9 me-5 spl-col-1" style="background-color: #303030; margin-left:4px;border-radius: 8px;padding-top: 15px;padding-bottom: 15px;">
            <div class="row">
                <div class="col-md-4 video">
                    <video id="local-video" muted autoplay width="300" height="200"></video>
                </div>
          
                <div class="col-md-4 video">
                  <video id="remote-video" autoplay width="300" height="200"></video>
                </div>
                
                <div class="col-md-4 video">
                  <video id="remote-video" autoplay width="300" height="200"></video>
                </div>
            </div>

            <div class="row">
              <div class="col-md-4 video">
                  <video id="local-video" muted autoplay width="300" height="200"></video>
              </div>
        
              <div class="col-md-4 video">
                <video id="remote-video" autoplay width="300" height="200"></video>
              </div>
              
              <div class="col-md-4 video">
                <video id="remote-video" autoplay width="300" height="200"></video>
              </div>
          </div>

          <div class="row">
            <div class="col-md-4 video">
                <video id="local-video" muted autoplay width="300" height="200"></video>
            </div>
      
            <div class="col-md-4 video">
              <video id="remote-video" autoplay width="300" height="200"></video>
            </div>
            
            <div class="col-md-4 video">
              <video id="remote-video" autoplay width="300" height="200"></video>
            </div>
        </div>
        </div>

        <div class="col-md-2 spl-col-2" style="background-color: #303030;border-radius: 8px;">
         
            <div class="" id="call-dialog">
              <label for="call_to">Make call to : </label>
              <form class="d-flex">
                <input class="form-control me-2" id="call_to" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" onclick="call();" type="button">Call</button>
              </form>
            </div>

            <div id="receive-dialog" style="display: none;">
              <h4 id="call-receive-msg"></h4>
              <button class="btn btn-success" id="answer" onclick="answer();">Answer</button>
            </div>
      
            <hr>
            <h5><b></b>Online Users</b></h5>
              <ul id="online-list">
                {% for i in online_users %}
                    <li><a href="">{{i}}</a></li>
                {% endfor %}
              </ul>
        </div>
      </div>
      
      </div>
          

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<script>
  let myName = '{{username}}';
  let chatSocket;
  let localVideo = document.getElementById("local-video");
  let remoteVideo = document.getElementById("remote-video");
  let callDialog = document.getElementById("call-dialog");
  let receiveDialog = document.getElementById("receive-dialog");
  let onlineList = document.getElementById("online-list");
  let activeBtn = document.getElementById("active-btn");
  let myPosition = document.getElementById("position");
  let localVideoStream;
  let call_to;
  let peerConnection;
  let remoteOffer;

  document.getElementById("activeDiv").style.display = "block";
  activeBtn.style.display = "block";
  activeBtn.checked = false;
  myPosition.style.display = "block";

  document.getElementById("location").style.display = "block";

  let ICEconfig = {
    iceServers: [
        {   urls: [ "stun:bn-turn1.xirsys.com" ]}, 
        {   username: "WtJcHNTgNpN90FSvMVmZtWWVztiHEhbFfsdRyMS1f_PoMfbjWJSW_rVXiivC4VCOAAAAAGGZQvNhc2hpc2hzYXNtYWwx",   
        credential: "6e26a8e4-4a32-11ec-8f0c-0242ac140004",   
        urls: [       
            "turn:bn-turn1.xirsys.com:80?transport=udp",       
            "turn:bn-turn1.xirsys.com:3478?transport=udp",       
            "turn:bn-turn1.xirsys.com:80?transport=tcp",       
            "turn:bn-turn1.xirsys.com:3478?transport=tcp",       
            "turns:bn-turn1.xirsys.com:443?transport=tcp",       
            "turns:bn-turn1.xirsys.com:5349?transport=tcp"   
        ]}]
    }

  const mediaConstraints = {
    "video" : true,
    "audio" : true
  }

  let iceCandidatesList = []

  function play() {
	  var audio = new Audio('https://2u039f-a.akamaihd.net/downloads/ringtones/files/mp3/xperia-artic-54206.mp3');
	  audio.play();
	}

  function connectWebSocket(){
      var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
      chatSocket = new WebSocket(ws_scheme+'://' +window.location.host +'/ws/chat/');
      console.log("Websocket connected");

      chatSocket.onopen = event =>{
          chatSocket.send(JSON.stringify({
                "type": "login",
                "to": myName,
                "message" : "Web socket working"
            }));
      }

      chatSocket.onmessage = (e) =>{
        const data = JSON.parse(e.data);
        console.log(data);

        let type = data.type;
        if (type == "answer"){
            console.log("Call answered")
            peerConnection.setRemoteDescription(data.answer);
        }

        else if (type == "candidate"){
            console.log("ICE candidate received")
            handleIncomingICEcandidate(data);
        }

        else if (type == "offer"){
            console.log("Receiving call from "+call_to);
            handleIncomingcall(data);
        }

        else if (type == "online_traffic"){
            let action = data.action;
            if (action == "remove"){
                var elem = document.getElementById(data.user);
                elem.parentNode.removeChild(elem);
            }
            else{
                onlineList.innerHTML += `<li id='${data.user}'>${data.user}</li>`
            }
        }
      }

      chatSocket.onclose = (e) =>{
        alert("Socket disconnected");
      }
  }

  function sendSocket(data){
      if (chatSocket){
          data.to = call_to;
          data.from = myName;
          console.log(data);
          chatSocket.send(JSON.stringify(
            data
          ));
      }
      else{
          console.log("Chat socket not connected")
      }
  }

  function handleIncomingICEcandidate(data){
    if (peerConnection){
        peerConnection.addIceCandidate(data.candidate);
    }
    else{
        console.log("RTC peer connection not set");
        iceCandidatesList.push(data.candidate);
    }
  }

  function handleIncomingcall(data){
      call_to = data.from;
      receiveDialog.style.display = "block";
      callDialog.style.display = "none";
      remoteOffer = data.offer;
      play();
  }

  function manageSocket(){
      if (activeBtn.checked){
          connectWebSocket();
      }
      else{
          if (chatSocket){
              chatSocket.close();
              console.log("Socket closed")
          }
          else{
              console.log("Socket not connected");
          }
      }
  }

  function createAndSendAnswer(){
    peerConnection.setRemoteDescription(remoteOffer);
    peerConnection.createAnswer((answer) => {
      peerConnection.setLocalDescription(answer);
        if ( iceCandidatesList.length >0 ){
          for (let i=0; i<iceCandidatesList.length; i++){
              try {
                  peerConnection.addIceCandidate(iceCandidatesList[i]);
              }
              catch (error) {
                  console.log(error);
              }
          }
          iceCandidatesList = [];
        }
        else{
            console.log("No ICE candidates found!");
        }
        sendSocket({
            type: "answer",
            answer: answer
        })
      }, error => {
            console.log(error);
          })
        }

  function answer(){
    accessMedia().then(bool => {
          createAndSendAnswer()
      })
  }

  function call(){
    call_to = document.getElementById("call_to").value;
    accessMedia().then(
      bool => {
          createAndSendOffer()
      })
  }

  function createAndSendOffer(){
      peerConnection.createOffer((offer) => {
          sendSocket({
              type: "offer",
              offer: offer
          })
      peerConnection.setLocalDescription(offer)
      }, (error) => {
        console.log(error)
      })
  }

  function accessMedia(){
    return navigator.mediaDevices.getUserMedia(mediaConstraints)
      .then(stream => {
          localVideoStream = stream;
          localVideo.srcObject = localVideoStream;
          return createRTCPeerConnection();
          
      }).catch(function (error) {
        console.log(error)
      });
  }

  function createRTCPeerConnection(){
      peerConnection = new RTCPeerConnection(ICEconfig);
      // peerConnection = new RTCPeerConnection(null);
      peerConnection.onaddstream = handleAddStream;
      peerConnection.onicecandidate = handleICEcandidate;
      peerConnection.addStream(localVideoStream);
      return;
  }
  
  function handleAddStream(event){
      remoteStream = event.stream;
      remoteVideo.srcObject = remoteStream;
  }

  function handleICEcandidate(event){
    if (event.candidate == null)
        return;
    sendSocket({
        type: "candidate",
        candidate: event.candidate
    })
  }
  
</script>

{% endblock content %}