{% extends "app/base.html" %}
{% block content %}

<style>
  body{
      background-image: url("https://images.unsplash.com/photo-1585974738771-84483dd9f89f");
      background-size: 100% 150%;
      
  }

  .green-dot {
    height: 10px;
    width: 10px;
    background-color: greenyellow;
    border-radius: 50%;
    display: inline-block;
  }

  .red-dot {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }

  .ui-autocomplete{
    background-color: white;
    overflow-y:scroll;
  }
  
  .ui-helper-hidden-accessible{
    display: none;
  }

  #ui-id-1{
      width: 200px !important;
  }
</style>

<br><br><br>
<div class="position-fixed top-0 end-0 p-3" style="z-index: 5">
	<div id="primary_toast" class="toast hide text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
	<div class="toast-body" id="primary_toast_msg">
	</div>
	</div>
	</div>

	<div class="position-fixed top-0 end-0 p-3" style="z-index: 5">
	<div id="success_toast" class="toast hide text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
	<div class="toast-body" id="success_toast_msg">
	</div>
	</div>
	</div>

	<div class="position-fixed top-0 end-0 p-3" style="z-index: 5">
	<div id="danger_toast" class="toast hide text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
	<div class="toast-body" id="danger_toast_msg">
	</div>
	</div>
	</div>

	<div class="position-fixed top-0 end-0 p-3" style="z-index: 5">
	<div id="warning_toast" class="toast hide text-white bg-warning border-0" role="alert" aria-live="assertive" aria-atomic="true">
	<div class="toast-body" id="warning_toast_msg">
	</div>
	</div>
	</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Join Meet</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" method="POST">
        {% csrf_token %}
      <div class="modal-body">
        
            <label for="room_id">Enter Room Code</label>
            <input type="text" class="form-control" name="room_id" id="room_id">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Enter</button>
      </div>
    </form>
    </div>
  </div>
</div>

{% if user.is_authenticated %}
<div class="container">
  <h1 style="color: white;font-family: 'Gochi Hand', cursive;" class="ms-5"><b>Dashboard</b> <hr></h1>
  <div class="row" style="min-height: 300px;max-height: 300px;">
    <div class="col-sm-10 col-md-5 col-lg-5 p-3 mb-4 rounded-3 me-3 table-responsive" style="background-color: #232b2b;max-height: 300px;color: white;float: none; margin: 0 auto;">
      <caption><h4>Recents Calls</h4></caption>
      <table class="table" style="color: white;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Room</th>
            <th scope="col">Last Seen</th>
          </tr>
        </thead>
        <tbody>
          {% for room in rooms %}
              <tr id="r-{{room.room_id}}">
                <th scope="row">#</th>
                <td><a href="{% url 'app:enterRoom' room.room_id %}" style="text-decoration: none;">{{room.room_id}}</a></td>
                <td>{{room.last_active | date:'d-m-Y H:i'}}</td>
                <td><a type="button" onclick="deleteRoom('{{room.room_id}}')"><i class="fas fa-trash" style="color: red;"></i></a></td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  
    <div class="col-sm-10 col-md-5 col-lg-5 p-3 mb-4 bg-light rounded-3 table-responsive" style="max-height: 300px;float: none; margin: 0 auto;">
      <caption><h4>My Friends</h4></caption>
      <table class="table table-hover">   
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          {% for user in request.user.user_profile.follow.all %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td><a href="{% url 'user:profile' user.user_profile.unique_id %}" style="text-decoration: none;">{% if user.first_name %}{{user.first_name}}{% else %}{{user.username}}{% endif %}</a></td>
                <td>{% if user.user_profile.active %}<p style="color: #21a617;"><span class="green-dot"></span> Online</p>{% else %}<p style="color: crimson;"><span class="red-dot"></span> Offline</p>{% endif %}</td>
                <td><a href="{% url 'app:chatroom' %}?user={{user.user_profile.unique_id}}"><h4><i class="fas fa-comment-alt"></i></h4></a></td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
    
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6 col-md-6 center-block" style="margin-left: auto;margin-right: auto;">
      <form class="d-flex form-control">
        <input type="hidden" name="mysearchid" value="" id="mysearchid">
        <input class="form-control ui-widget me-2" type="search" name="mysearch" id="inputid" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="button" onclick="searchUser();">Search</button>
      </form>
    </div>
    
  </div>

</div>
{% else %}
<div class="container col-8">
  <div class="p-4 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5" style="background-color: #e8e8e8;">
      <h3 class="fw-bold">Hey! Friend :) {{user.username}}</h3>
      <p class="col-md-8 fs-3">“Live your life, listen to your music way too loud, be crazy and as different as you want to be and always remember you're not alone.”</p>
      <p class="fs-12"><i>- Andy Biersack</i></p>
      <a type="button" class="btn btn-primary" href="{% url 'app:startRoom' %}" type="button">Let's Start</a>
    </div>
  </div>
</div>
{% endif %}

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
  $("#inputid").autocomplete({
    source:"{% url 'user:autocomplete' %}",
    focus: function( event, ui ) {
          $( "#inputid" ).val( ui.item.label );
             return false;
       },
       select: function( event, ui ) {
          $( "#inputid" ).val( ui.item.label );
          $( "#mysearchid" ).val( ui.item.value );
          return false;
       }
    });

    function searchUser(){
        id = document.getElementById("mysearchid").value;
        window.location = "/auth/profile/"+id;
    }

    function deleteRoom(room_id){
      fetch("/delete/room/"+room_id).then(res => res.json())
      .then(data => {
          if (data.result){
              alert("Room deleted successfully!");
              var elem = document.getElementById('r-'+room_id);
              if (elem) {
                  elem.parentNode.removeChild(elem);
              }
          }
          else{
              alert("Failed to delete room");
          }
      });
    }
</script>

{% endblock content %}