<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script type = "text/JavaScript" src = " https://MomentJS.com/downloads/moment.js"></script>
    <title>Hello, world!</title>
    <style>
        body{
            background-color: rgb(48, 48, 48);
            overflow: hidden;
        }
        #sidebar-nav {
          width: 320px;
      }

      .chat-icon{
        border: 1px solid white;
        margin-right: 5px;
        width: 40px;
        text-align: center;
        border-radius: 4px;
      }

      

      .vid-element video {
        width: 100%    !important;
        height: 100%   !important;
        border-radius: 12px;
        overflow: hidden;
        -webkit-transform: translateZ(0);
        box-shadow: 0 19px 51px 0 rgba(0,0,0,0.16), 0 14px 19px 0 rgba(0,0,0,0.07);
        border: 1px solid white;
        background: rgba(114, 93, 93, 0) !important;
      }

      .chat-avatar{
          width: 30px;
          height: 30px;
          border-radius: 50%;
      }

      .chat-user{
          padding: 10px;
      }

      .chat-user-name{
          display: inline;
          
      }
      .chat-user-name, a{
        color: black;
        text-decoration: none;
      }

      .pin-icon{
        float: right;
        margin-right: 10px;
      }

      .chat-message {
          width: 260px;
          margin: 5px;
          background-color: #dce0dd;
          font-size: 12px;
          padding-left: 10px;
          border-radius: 5px;
          margin-bottom: 10px;
          padding-top: 4px;
      }
      .chat-name{
          margin-bottom: 0px;
      }

      .chat-time{
          color: rgb(99, 98, 98);
          margin-left: 10px;
      }


      #chat-box {
          overflow-y:scroll;
      }
      </style>
  
      
    </head>
    <body>

      <div class="container-fluid">
        <div class="row flex-nowrap">
            <main class="col ps-md-2 pt-2">
              <div class="row m-2" id="video-div">

              </div>
              <header class="d-flex fixed-bottom flex-wrap align-items-center justify-content-center justify-content-md-between py-1 border-bottom" style="background-color: rgb(31, 30, 30);">
                <a type="button" onclick="navigator.clipboard.writeText(window.location.protocol+'//'+window.location.host+'{% url 'app:enterRoom' room_id %}');" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none ms-4">
                  <h6 style="color: white;"><span id="date-time"></span> | {{room_id}}</h6>
                </a>
          
                <ul class="nav col-12 col-md-auto justify-content-center mb-md-0">
                  <li class="chat-icon"><a type="button" class="nav-link px-2 link-secondary" onclick="muteVideo();"><i class="fas fa-video " style="color: #2870de;" id="videoBtn"></i></a></li>
                  <li class="chat-icon"><a type="button" class="nav-link px-2 link-dark" onclick="muteAudio();"><i class="fas fa-microphone " style="color: #2870de;" id="audioBtn" ></i></a></li>
                  <li class="chat-icon"><a href="#" class="nav-link px-2 link-dark" id=""><i class="fas fa-desktop " style="color: white;"></i></a></li>
                  <li class="chat-icon"><a href="#" class="nav-link px-2 link-dark" id="" data-bs-target="#sidebar" data-bs-toggle="collapse"><i class="fas fa-comment-alt " style="color: white;"></i></a></li>
                  <li class="chat-icon"><a href="{% url 'app:home' %}" class="nav-link px-2 link-dark" id=""><i class="fas fa-sign-out-alt " style="color: red;"></i></a></li>
                </ul>
          
                <div class="col-md-3 text-end">
                  <button type="button" class="btn btn-outline-primary me-2">Login</button>
                  <button type="button" class="btn btn-primary">Sign-up</button>
                </div>
              </header>
              
            </main>
            <div class="col-auto px-0">
              <div id="sidebar" class="collapse collapse-horizontal show" >
                  <div id="sidebar-nav" class="list-group border-0 rounded-5 text-sm-start h-100 me-3 mt-3 mb-3" style="background-color: cornsilk;">
                      <div class="chat-users">
                        <div class="users-list" id="online-list">
                        </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>     
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script>
  
  function updateTime(){
    document.getElementById('date-time').innerText=moment(Date.now()).format( 'Do MMMM, YYYY h:mm a');
  }
  setInterval(updateTime, 1000);
  
  let myDetails = {"id": '{{user.user_profile.unique_id}}', "name": '{{user.username}}'};
  let chatSocket;
  // let localVideo = document.getElementById("video-1");
  // let remoteVideo = document.getElementById("remote-video");
  // let callDialog = document.getElementById("call-dialog");
  // let receiveDialog = document.getElementById("receive-dialog");
  let onlineList = document.getElementById("online-list");
  // let activeBtn = document.getElementById("active-btn");
  // let myPosition = document.getElementById("position");
  let audioBtn = document.getElementById("audioBtn");
  let videoBtn = document.getElementById("videoBtn");
  let localVideoStream;
  let call_to;
  let peerConnection = {};
  let remoteOffer;
  let numVideos = 0;
  let showVideo = true;
  let playAudio = true;
  let videoDialog = document.getElementById("video-div");

  // document.getElementById("activeDiv").style.display = "block";
  // activeBtn.style.display = "block";
  // activeBtn.checked = false;
  // myPosition.style.display = "block";

  function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        myPosition.innerHTML = "Geolocation is not supported by this browser.";
      }
  }

  // document.getElementById("location").style.display = "block";
  function showPosition(position) {
      myPosition.style.display = "block";
      myPosition.innerHTML = "<i class='fas fa-map-marker-alt'></i> " + position.coords.latitude +
      ", " + position.coords.longitude;
  }


  let ICEconfig = {
    iceServers: [
        {   urls: [ "stun:bn-turn1.xirsys.com" ]}, 
        {   username: "WtJcHNTgNpN90FSvMVmZtWWVztiHEhbFfsdRyMS1f_PoMfbjWJSW_rVXiivC4VCOAAAAAGGZQvNhc2hpc2hzYXNtYWwx",   
        credential: "6e26a8e4-4a32-11ec-8f0c-0242ac140004",   
        urls: [       
        "turn:bn-turn1.xirsys.com:80?transport=udp",       
            "turn:bn-turn1.xirsys.com:3478?transport=udp",       
            "turn:bn-turn1.xirsys.com:80?transport=tcp",       
            "turn:bn-turn1.xirsys.com:3478?transport=tcp",       
            "turns:bn-turn1.xirsys.com:443?transport=tcp",       
            "turns:bn-turn1.xirsys.com:5349?transport=tcp" 
        ]}]
    }

  const mediaConstraints = {
    "video" : true,
    "audio" : true
  }

  let iceCandidatesList = {};

  function play() {
	  var audio = new Audio('https://2u039f-a.akamaihd.net/downloads/ringtones/files/mp3/xperia-artic-54206.mp3');
	  audio.play();
	}

  function playEnterRoom(){
      var audio = new Audio('https://www.setasringtones.com/storage/ringtones/9/aa925f907affb2e0998254d360689a2f.mp3');
      audio.play();
  }

  function accessMedia(user){
      console.log("access media "+myDetails.id)
      return navigator.mediaDevices.getUserMedia(mediaConstraints)
        .then(stream => {
            localVideoStream = stream;
            muteAudio();
            muteVideo();
            onVideoAdd(user,localVideoStream);
        }).catch(function (error) {
          console.log(error)
        });
  }

  function connectWebSocket(){
      var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
      chatSocket = new WebSocket(ws_scheme+'://' +window.location.host +'/ws/chat/{{room_id}}/');
      console.log("Websocket connected");

      chatSocket.onopen = event =>{
          chatSocket.send(JSON.stringify({
                "type": "login",
                "to": myDetails,
                "from": myDetails
            }));
            onlineList.innerHTML += 
              `
                <div class="chat-user" id='${myDetails.id}'>
                    <img class="chat-avatar ms-2 me-2" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <div class="chat-user-name">
                        <a href="#">${myDetails.name}</a>
                    </div>
                    <a type="button" class="pin-icon"><i class="fas fa-thumbtack"></i></a>
                </div>
                `
            accessMedia(myDetails).then(
              bool => {
                playEnterRoom();
                chatSocket.send(JSON.stringify({
                "type": "joiner",
                "to": "all",
                "from": myDetails,
            }));
              })
            
      }

      chatSocket.onmessage = (e) =>{
        const data = JSON.parse(e.data);
        // console.log(data);

        let type = data.type;
        let user = data.from;
        if (data.to.id == myDetails.id){
            if (type == "success_join"){
                iceCandidatesList[user.id] = [];
                call(user);
            }
            else if (type == "offer"){
              iceCandidatesList[user.id] = [];
                console.log("Receiving call from "+user);
                handleIncomingcall(user, data);
            }
            else if (type == "answer"){
                console.log("Call answered")
                peerConnection[user.id].pc.setRemoteDescription(data.answer);
            }
            else if (type == "candidate"){
                console.log("ICE candidate received")
                handleIncomingICEcandidate(user, data);
            }
        }
        else{
            if (type == "joiner"){
                iceCandidatesList[user.id] = [];
                call(user, true);
            }
            else if (type == "online_traffic"){
                let action = data.action;
                if (action == "remove"){
                    var elem = document.getElementById(user.id);
                    if (elem){
                      elem.parentNode.removeChild(elem);
                    }
                    elem = document.getElementById("v-"+user.id);
                    elem.parentNode.removeChild(elem);
                   
                }
                else{
                    onlineList.innerHTML += 
                    `
                    <div class="chat-user" id='${user.id}'>
                                  <img class="chat-avatar ms-2 me-2" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                  <div class="chat-user-name">
                                      <a href="#">${user.name}</a>
                                  </div>
                                  <a type="button" class="pin-icon"><i class="fas fa-thumbtack"></i></a>
                              </div>
                    `
                }
            }
        }
      }

      chatSocket.onclose = (e) =>{
        alert("Socket disconnected");
      }
  }

  function sendSocket(data, to, from){
      if (chatSocket){
          data.to = to;
          data.from = from;
          chatSocket.send(JSON.stringify(
            data
          ));
      }
      else{
          console.log("Chat socket not connected")
      }
  }
  connectWebSocket();
  function handleIncomingICEcandidate(user, data){
      if (peerConnection[user.id]){
        peerConnection[user.id].pc.addIceCandidate(data.candidate);
      }
      else{
          console.log("RTC peer connection not set");
          iceCandidatesList[user.id].push(data.candidate);
      }
      

  }

  function handleIncomingcall(user, data){
      createRTCPeerConnection(user);
      createAndSendAnswer(user, data.offer);
  }

  function manageSocket(){
      if (activeBtn.checked){
          connectWebSocket();
      }
      else{
          if (chatSocket){
              chatSocket.close();
              console.log("Socket closed")
          }
          else{
              console.log("Socket not connected");
          }
      }
  }


  function createAndSendAnswer(user, remoteOffer){
    peerConnection[user.id].pc.setRemoteDescription(remoteOffer);
    peerConnection[user.id].pc.createAnswer((answer) => {
      peerConnection[user.id].pc.setLocalDescription(answer);
        if ( iceCandidatesList[user.id].length >0 ){
          for (let i=0; i<iceCandidatesList[user.id].length; i++){
              try {
                  peerConnection[user.id].pc.addIceCandidate(iceCandidatesList[user.id][i]);
              }
              catch (error) {
                  console.log(error);
              }
          }
          iceCandidatesList[user.id] = [];
        }
        else{
            console.log("No ICE candidates found!");
        }
        sendSocket({
            type: "answer",
            answer: answer
        }, user, myDetails)
      }, error => {
            console.log(error);
          })
        }
  function createAndSendOffer(user){
      console.log("offer true")
      peerConnection[user.id].pc.createOffer((offer) => {
          sendSocket({
              type: "offer",
              offer: offer
          }, user, myDetails)
        peerConnection[user.id].pc.setLocalDescription(offer)
      }, (error) => {
        console.log(error)
      })
  }

  
  function call(user){
        createRTCPeerConnection(user);
        createAndSendOffer(user);
    }

  function createRTCPeerConnection(user){
    console.log("RTCPeerConnection connected");
      peerConnection[user.id] = {"name" : user.name, "pc" : new RTCPeerConnection(ICEconfig)};
      // peerConnection = new RTCPeerConnection(null);
      peerConnection[user.id].pc.onaddstream = event => handleAddStream(user, event);
      peerConnection[user.id].pc.onicecandidate = event => handleICEcandidate(user, event);
      peerConnection[user.id].pc.addStream(localVideoStream);
      return;
  }
  
  function handleAddStream(user, event){
    onVideoAdd(user, event.stream);
    }

  function handleICEcandidate(user, event){
      if (event.candidate == null)
          return;
      sendSocket({
          type: "candidate",
          candidate: event.candidate
      }, user, myDetails)
  }

  function muteAudio(){

    if (localVideoStream){
      playAudio = !playAudio;
      if (playAudio){
        audioBtn.style.color = "#2870de";
      }
      else{
        audioBtn.style.color = "red";
      }
      localVideoStream.getAudioTracks()[0].enabled = playAudio;
    }
   
  }

  function muteVideo(){

    if (localVideoStream){
      showVideo = !showVideo;
      if (showVideo){
        videoBtn.style.color = "#2870de";
      }
      else{
        videoBtn.style.color = "red";
      }
      
      localVideoStream.getVideoTracks()[0].enabled = showVideo;
    }
    else{
      alert("Please allow video permission.");
    }
  }

  function onVideoAdd(user, stream){
      var vidDiv = document.createElement('div');
      vidDiv.setAttribute('class', 'col-4 vid-element')
      var vidElement = document.createElement("VIDEO");
      vidElement.setAttribute('width', 320);
      vidElement.setAttribute('height', 240);
      vidElement.setAttribute('autoplay', '');
      vidElement.setAttribute('muted', '');
      vidElement.setAttribute('class', 'user-video');
      vidDiv.setAttribute('id', `v-${user.id}`);
      vidElement.srcObject = stream;
      vidDiv.appendChild(vidElement);
      videoDialog.appendChild(vidDiv);
  }
        </script>
  </body>
</html>


